#container {
  width: 500px;
  height: 500px;
  position: relative;
  overflow: hidden;
}

#box {
  width: 100px;
  height: 100px;
  background-color: rgb(217, 177, 177);
  position: absolute;
  top: 100;
  left: 100;
}